#listen{
    font-family: 'Lobster', cursive;
}
.copy_right_footer{
    font-family: 'Lobster', cursive;
}
#heading{
    font-family: 'Lobster', cursive;
}
#note{
    font-family: 'Lobster', cursive;
}
#start{
    font-family: 'Lobster', cursive;
}